<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/paquetes.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
     
<h3>CREAR PAQUETE</h3>
<ul>
    <li>
        <a href=""> CREAR PAQUETE</a>
        <form action="../index.ejs" method="POST"> 
        <div>
            <label for="">Paquete</label>
            <input type="text" name="paquete">
        </div>
        <div>
            <label for="">IMAGEN</label>
            <input type="img" name="image">
        </div>
        <div>
            <label for="">Descripcion</label>
            <input type="text" name="description">
        </div>
        <div>
            <label for="">Precio</label>
            <input type="text" name="price">
        </div>
        <div>
            <label for="">Categoria</label>
            <select name = "categories">
                <% for (let i = 0; i<categories.length; i++){%>
                    <option value="<%= categories[i].id%">">
                        <%= categories[i].name %>
                    
                    </option>

                <% } %>
            </select>
            <input type="text" name="price">
        </div>
        
        
        </form>
    </li>
</ul>

      <!--primer box de fotos -->
    <div class="container1">
    <div class="pic-container1">



</main>
    <footer>
        <%- include('../partials/footer.ejs') %>
</footer>
</body>
</html>