<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/paquetes.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>


    <div class="container"> <!-- Eso hace que este en fila hay que darle css -->
    <div class="product-container">
        <h2>Paquete:  <%= product.title %></h2>
       
        <article class="conjunto">
        <div class="product-info">
        <figure>
        <img src="/images/destinos/<%= product.image %>" alt=""/></figure>
        <h3>#<%= product.id %></h3>
       </div>

       <div class="product-info">
           <p>Descripción: <%= product.description %> </p>
        <p>Precio: ARS $ <%= product.price %> </p>
        </div>

            <div class="textopaquete">
                <h2 class="h2">Excursiones y actividades</h2>
            </div>

            <div class="itemspaquete"></div>
            <div>
                <ul class="lista">
                    <li>Gastronomia</li>
                    <li>Recorrida por los lagos</li>
                    <li>Dia de camping</li>
                    <li>Mountain tracking</li>
                    <li>Salidas nocturnas</li>
                </ul>
            </div>
         </article>
     
      
        <article class="include">
           <p>Nuestro paquete incluye</p>
            <div class="items"><i class="fas fa-plane"></i>Avion</div>
            <div class="items"><i class="fas fa-car"></i>Traslados</div>
            <div class="items"> <i class="fas fa-concierge-bell"></i>Alojamiento</div>
        </article>
        <hr>
        <div class="button">
            <button class= btn sm btn-pink-outline>
                <a href="/carrito">Ir al carrito</a>
            </button>
            <hr>
            <div class ="confirmar"><input type="submit" value="RESERVA YA!"></div>
        </div> <p>ir al carrito es un link, el boton es un type submit</p>
        <br>
    </div>   
    </div> 
    
</div>
<footer>
    <%- include('../partials/footer.ejs') %>
</footer>
</body>
</html>