<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/paquetes.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

        <h2>Detalle de productos</h2>

       

        <h2><%= product.title %></h2>

        <div class="product-info">
        <p>Precio: <%= product.price %> </p>
        <p><img src="/lista<%= product.image %>" alt=""></p>

        <p>Descripción del paquete: <%= product.description %> </p>
     
        <article class="conjunto">
            <div class="textopaquete">
                <h2 class="h2">Excursiones y actividades</h2>
            </div>

            <div class="itemspaquete"></div>
            <div>
                <ul class="lista">
                    <li>Gastronomia</li>
                    <li>Recorrida por los lagos</li>
                    <li>Dia de camping</li>
                    <li>Mountain tracking</li>
                    <li>Salidas nocturnas</li>
                </ul>
            </div>
         </article>
     
     
        <article class="include">
           <p>Nuestro paquete incluye</p>
            <div class="items"><i class="fas fa-plane"></i>Avion</div>
            <div class="items"><i class="fas fa-car"></i>Traslados</div>
            <div class="items"> <i class="fas fa-concierge-bell"></i>Alojamiento</div>
        </article>
        <div class="button">
            <button class= btn sm btn-pink-outline>
                <a href="/carrito">RESERVAR</a>
            </button>
          
        </div>
        <br>
                                            
<footer>
    <%- include('../partials/footer.ejs') %>
</footer>
</body>
</html>