<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/detail.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>


    <div class="container"> <!-- Eso hace que este en fila hay que darle css -->
        <div class="product-container">
                    <h2 class="nombre"><%= product.title %></h2>
                    <br>
                    <article class="conjunto">
                        <div class="product-info">
                            <figure class="detalle-foto">
                            <img src="/images/destinos/<%= product.image %>" alt="" class="imagen"/>
                            </figure>
                        </div>
                        <br>
                        <div class="product-info">
                            <p>Descripción: <br> <%= product.description %> </p>
                            <br>
                            <p>Precio: ARS $ <br> <%= product.price %> </p>
                        </div>
                    </article>
                        <br>
            
                    <article class="include">
                        <p>Nuestro paquete incluye</p>
                        <div class="items"><i class="fas fa-plane"></i>Avion</div>
                        <div class="items"><i class="fas fa-car"></i>Traslados</div>
                        <div class="items"> <i class="fas fa-concierge-bell"></i>Alojamiento</div>
                    </article>
                    <br>
                    <hr>
                    <br>
                    <div class="button">
                        <button class= btn sm btn-pink-outline>
                        <a href="/carrito">Ir al carrito</a>
                        </button>
                    </div>
                    <br>
                    <hr>
                    <br>
       </div>   
    </div>



<footer>
    <%- include('../partials/footer.ejs') %>
</footer>
</body>
</html>