<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/paquetes.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

        <h2>Detalle de productos</h2>
        <h2><%= product.title %></h2>

        <div class="product-info">
        <p>Precio: <%= product.price %> </p>
        <p><img src=" <%= product.image %>" alt=""></p>

        <p>Descripción del paquete: <%= product.description %> </p>
        <article class="include">

            <i class="fas fa-fly"></i>


            <p>Nuestro paquete incluye;</p>
            <div class="items"><i class="fas fa-plane"></i>Avion</div>
            <div class="items"><i class="fas fa-car"></i>Traslados</div>
            <div class="items"> <i class="fas fa-concierge-bell"></i>Alojamiento</div>
        </article>

        <br>
                                            
<footer>
    <%- include('../partials/footer.ejs') %>
</footer>
</body>
</html>