<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/paquetes.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>

        <ul>    
            <li>
                <a href="../products/crear.ejs"> Crear paquete </a>
            </li>
        </ul>
        <ul>   
            <h2>Detalle de productos</h2>
            <div class='products'>
                <%products.forEach(product => { %>
                    <p class='product'>
                        <img src="<%=product.image%>" height="100"/> <br>
                        <a href='/products/<%= product.id%>'><%=product.name%> ( <%= product.price%>)
                        </a>
                        </p>
              <% }) %>
            </div>
           

        </ul>




<!--ACA PODRIA IR  LO DE DETAIL -->
       






    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
</footer>
</body>
</html>