<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="css/products.css">
</head>
<body>

    <%- include('partials/header.ejs') %>
    <main>
        <ul>
   
       <li> <a href="/index-admin">Sección para administradores</a></ul>

        <li><a href="/user/<%= ( user ? user.id : "login") %> "> Tu perfil de usuario </a> </li>
        </ul>
        <h2> Turisteando es la pagina que estabas buscando para empezar tus vacaciones por Argentina </h2>
        <div class="pic-container1">
       
    </div>
    <h3 class="color-h3">Elegi tu próximo destino</h3>
    

<section>
    <div id="paquete-container">
        <%products.forEach(product => { %>
            <div class="paquete-columna">
                <div class="paquete-item">
                    <div class="paquete-fila">
                        <div class="paqueta-pic">
                           <a href="/lista/<%= product.id%>"><img src="images/destinos/<%=product.image%>" alt="picture"></a>

                        </div>
                    </div>
                    <div class="paquete-fila">
                        <h4><%= product.title%></h4>
                        <p><%= product.descrption%></p>
                        <p><%= product.price%></p>
                        <button class= btn sm btn-pink-outline>
                            <a href="/lista/<%= product.id%>">VER DETALLE</a>
                        </button>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>
</section>
</main>



    <footer>
    <%- include('partials/footer.ejs') %>
</footer>


</body>
</html>