<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/paquetes.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
        <br>
        <form action="/delete"></form>
            <div class='products'>
                <%products.forEach(product => { %>
                    <p class='product'>
                        <a href='/lista/<%= product.id%>'>
                        <img src="<%=product.image%>" height="100"/> <br>
                         <p>Ver detalle</p></a> <%=product.title%>  ( <a>$ </a><%= product.price%> )
                        <div class="button">
                            <button class= btn sm btn-pink-outline>
                                <a href="/delete/<%= product.id%>">BORRAR</a>
                            </button>
                        </div>

              <% }) %>
              
            </div>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
</footer>
</body>
</html>