<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/paquetes.css">
</head>
    <body>
<header>
        <%- include('../partials/header.ejs') %>
</header>


    <h2>Editar producto</h2>
<!--NO FUNCIONA -->
      <form class="form is-inline" action="/admin/edit/<%= product.id %>?_method=PUT" method="POST"> 

    <h2><%= product.title %></h2> 
       <div class="field">
        <label for="first_name">Titulo</label>
        <div>
            <input type="text" name="title" id="first_name" value="<%= product.title %>">
        </div>     
    </div>

    <div class="field">
        <label for="price">Precio</label>
        <div>
            <input type="text" name="price" id="price" value="<%= product.price %>">
        </div>    
    </div>

    <div class="field">
        <label for="price">Imagen</label>
        <div>
            <input type="file" name="image" id="image" value="<%= product.image %>">
        </div>
    </div>  

    <div class="field">
        <label for="price">Descripcion</label>
        <div>
            <input type="text" name="description" id="description" value="<%= product.description %>">
        </div>
    </div>  

    <div class="field" style="display: none;">
        <div>
            <input type="text" name="id" id="id" value="<%= product.id %>">
        </div>
    </div>  
    </div>

    <button class="button is-danger">GUARDAR EDICION</button>
        
    </form>

        <form class="form is-inline" action="/admin/edit/<%= product.id %>?_method=delete" method="POST">
            <button class="button is-danger">BORRAR</button> </form>



             
<footer>
    <%- include('../partials/footer.ejs') %>
</footer>
</body>
</html>

