<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/paquetes.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
        <br>
        <form action="/crear">
            <input type="submit" value="Crear nuevo paquete"/>
        </form>
        <br>

        <ul>   
            <h2>Detalle de paquetes</h2>
            <hr>
            <div class='products'>
                <%products.forEach(product => { %>
                    <p class='product'>
                        <a href='/lista/<%= product.id%>'>

                        <img src="<%=product.image%>" height="100"/>
                         <br>         
                   </a> <%=product.title%>  ( <a>$ </a><%= product.price%> )
           
                         <div class="button">
                          <button class= btn sm btn-pink-outline>
                               <a href="/lista/<%= product.id%>">VER DETALLE</a>
                           </button>
                          </div>
                        <br>
                        <div class="button">
                            <button class= btn sm btn-pink-outline>
                                <a href="admin/edit/<%= product.id%>">EDITAR</a>
                            </button>
                        </div>
                        <br>
                        <!-- <div class="button">
                            <button class= btn sm btn-pink-outline>
                                <a href="">BORRAR</a>
                            </button>
                        </div>
                        <hr> -->
                        
                        </p>
              <% }) %>
              
            </div>
           
        </ul>

    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
</footer>
</body>
</html>