<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/paquetes.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
        <br>
        <form action="/crear">
            <input type="submit" value="Crear nuevo paquete"/>
        </form>
        <br>

        <ul>   
            <h2>Detalle de paquetes</h2>
            <hr>
            <div class='products'>
                <%products.forEach(product => { %>
                    <p class='product'>
                        <a href='/lista/<%= product.id%>'>
                        <img src="<%=product.image%>" height="100"/> <br>
                         <p>Ver detalle</p></a> <%=product.title%>  ( <a>$ </a><%= product.price%> )
           

                        <div class="button">
                            <button class= btn sm btn-pink-outline>
                                <a href="/edit/<%= product.id%>">EDITAR</a>
                            </button>
                        </div>
                        <br>
                        <div class="button">
                            <button class= btn sm btn-pink-outline>
                                <a href="/carrito">BORRAR</a>
                            </button>
                        </div>
                        <hr>
                        
                        </p>
              <% }) %>
              
            </div>
           
        </ul>

    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
</footer>
</body>
</html>