<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/lista.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
        <br>
        <form action="/crear" method="GET">
            <input type="submit" value="Crear nuevo paquete"/>
        </form>
        <br>

        <ul>   
            <h2 class="nombre">Detalle de paquetes</h2>
            <div class="container">
            <hr>
            <div class='products'>
                <%products.forEach(product => { %>
                    <p class='product'>
                          <a href='/lista/<%= product.id%>'>

                            <h3>imagen:</h3> <figure> <img src="/images/destinos/<%=product.image%>" height="100"/></figure>
                            
                         </a>

                       <h4> Id paquete: #<%= product.id %> <h4>
                      <h4> Titulo: <%=product.title%>  </h4>
                     <h4> $ ARS <%= product.price%> </h4>
                     
           
                         <div class="button">
                          <button class= btn sm btn-pink-outline>
                               <a href="/lista/<%= product.id%>">VER PUBLICACIÓN</a>
                           </button>
                          </div>
                        <br>
                        <div class="button">
                            <button class= btn sm btn-pink-outline>
                                <a href="admin/edit/<%= product.id%>">EDITAR</a>
                            </button>
                        </div>
                        <br>
                      <!-- <div class="button">
                            <button class= btn sm btn-pink-outline>
                                <a href="">BORRAR</a>
                            </button>
                        </div> -->
                        <hr> 
                        
                        </p>
              <% }) %>
              
            </div>
           
        </ul>
    </div>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
</footer>
</body>
</html>