
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>



    <main>
        <div class="container">
            <section>
                <div class="columns is-centered">
                    <div class="column is-6">
                        <h1>Editar usuario</h1>
                        <form action="/userList/<%= users.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

                            <div class="field">
                                <label for="first_name">Nombre</label>
                                <div class="control">
                                    <input type="text" name="first_name" id="first_name" value="<%= users.first_name %>">
                                </div>
                                <p class="feedback is error">Un error</p>
                            </div>

                            <div class="field">
                                <label for="last_name">Apellido</label>
                                <div class="control">
                                    <input type="text" name="last_name" id="last_name" value="<%= users.last_name %>">
                                </div>
                                <p class="feedback"></p>
                            </div>

                            <div class="field">
                                <label for="email">Email</label>
                                <div class="control">
                                    <input type="text" name="email" id="email" value="<%= users.email %>">
                                </div>
                                <p class="feedback"></p>
                            </div>

                            <div class="field">
                                <label for="image">Imagen de perfil</label>
                                <h3> Tu foto actual: </h3><img src="/images/users/<%= users.image %>" alt="">
                                <div class="control">
                                    <input type="file" name="image" id="image">
                                </div>
                                <p class="feedback"></p>
                            </div>
                            
                            <div class="field">
                                <label for="password">Password</label>
                                <div class="control">
                                    <input type="password" name="password" id="password" value="<%= users.password %>" >
                                </div>
                                <p class="feedback"></p>
                            </div>

                            <div class="field">
                                <label for="category">Categoría</label>
                                <div class="control">
                                    <select name="category" id="category">
                                        <option value="">Seleccione una opción</option>
                                        <option value="Administrador" <%= users.category == 'Administrador' ? 'selected' : ''; %>>Administrador</option>
                                        <option value="Viajero" <%= users.category == 'Viajero' ? 'selected' : ''; %>>Viajero</option>
                                    </select>
                                </div>
                                <p class="feedback"></p>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button type="submit">Editar usuario</button>
                                </div>
                            </div> 
                        </form>  
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
    <body>
 <html>
   