<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/userlist.css">
    </head>
    <body>
        <header>
            <%- include('../partials/header.ejs') %>
        </header>
        <main>
            <div class="container">
                <h1 class="nombre">Lista Usuarios</h1>

                    <% users.forEach(user => { %>
                        <article class="card" >
                            <div class="card-left">
                                <!-- esto tenia figure adentro --- style="display: flex; flex-direction: column; text-align: center;width: 100px;" -->
                                <figure>
                                    <img src="images/users/<%= user.image%>" alt="" style="box-shadow: 0 0 15 #999; width: 100px;" class="imagenuser">   </figure> <br>
                                <h3>ID usuario #<%= user.id %></h3><br>
                            </div>
                            <div class="card-content" style="display:inline-block; margin: auto">
                                <h3><%= user.first_name %> <%= user.last_name %></h3><br>
                                <p>Categoría: <%= user.category_id  =="1" ? "Administrador" : "Viajero" %> </p><br>
                                <p>Email: <a href="mailto:<%= user.email %>" target="_blank"><%= user.email %></a></p>
                                <div><br>
                                    <button class="button is-danger" ><a href="/userList/<%= user.id %>">Ver detalle</button></a>
                                </div>
                            </div>  
                             
                        </article>
                        <br>
                        <hr>
                    <% }) %>
            </div>
        </main>

        <footer>
             <%- include('../partials/footer.ejs') %>
        </footer>
    </body>
</html>